<style>
  nav {
    background-color: rgb(19, 58, 103);
    box-shadow:0 0.5em 0.5em 0 rgba(118, 135, 154, 0.9);
    /* height: 10vh; */
  }

  #title {
    font-size: 3em;
    text-shadow: 0.1em 0.1em 0.2em rgb(12, 42, 77);
  }

</style>

<!-- <a class="navbar-brand" href="#"></a> -->
<nav class="navbar navbar-light text-light p-3">
  <!-- pt-3 pb-3 pl-4 pr-4 -->
  <!-- <img src="/static/picture/logo.png" alt="logo" id="logo"> -->
  <a class="navbar-brand" href="/">
    <img src="/static/picture/logo.png" width="32" height="40" class="d-inline-block align-top" alt="">
  </a>
  <div class="m-auto">
    <h1 id="title">自動化魷魚</h1>
  </div>
  <div class="list-inline">
    <img src="/static/picture/question.png" id="question" alt="question">
  </div>
</nav>