<html>

<head>
  <title>login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  {% include './models/bs_css.html' %}
</head>

<style>
  .input {
    /* color: rgb(18, 98, 217); */
    font-size: 1.5em;
    padding: 0.5em 1em;
    height: 2.5em;
  }
</style>

<body>
  {% include './models/navbar.html' %}
  {% if error %}
  <p><strong>Error</strong>: {{error}}</p>
  {% endif %}
  <div class="container m-auto " style="height: 90vh; padding: 5% 10% 5% 10%;">
    <div class="text-light">
      <div class="row">
        <div class="form-inline">
          <h3 class="step">Step 1</h3>
          <h3 class="stepText">請輸入教務系統帳號密碼</h3>
        </div>
      </div>
      <div class="col-6 m-auto" style="padding-top: 10%; padding-bottom: 10%;">
        <form class="form-control-lg" method="post" action="/checkLogin">
          <div class="col" style="margin-bottom: 2em;">
            <input name="id" type="text" class="form-control input" placeholder="教務系統帳號" required="required">
          </div>
          <div class="col">
            <input name="pwd" type="password" class="form-control input" placeholder="教務系統密碼" required="required">
          </div>
          <div class="row" style="height: 10%; padding: 3em;  margin-bottom: 5em;">
            <div class="m-auto">
              <button class="btn btn-primary" type="submit" id="nextBtn">下一步</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include './models/bs_js.html' %}
</body>

</html>